.card {
  min-height: 350px;
  padding-top: 30px!important;
  margin-top: 30px!important;
}

.card::before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border: 2px solid white;
  border-radius: 10px;
}

.card h3 {
  font-size: 1.75rem!important;
}

@media screen and (max-width: 1200px) {
  .card {
    min-height: auto;
    margin-top: 30px!important;
  }
}